.etiqueta{
    width: 100%x;
    font-style: italic;
    height: 100%;
}

.formulario{
    margin-top: 15px;
    border-radius: 10px;
    font-family:raleway;
    border: 5px solid #ccc;
  
    border-style: ridge;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #0B2435;
    box-sizing:border-box;
  
    margin-left:auto;
    margin-right:auto;
    background:linear-gradient(10deg, #101652, #3680C7, #869DCA, #3680C7
 );
    width:100%;
}


.img{
    width: 60px;
    height: 30px;
}

table {
    width: 60%;
    border: 1px solid #000;
 }
 td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    background-color: ghostwhite;
 }
 body{
    background: url('img/fondopantalla.jpg')no-repeat;
    background-size: cover;
    display: flex;
    width:50%;
    margin-block-start: 12%;
    margin-left: 9%;
    
    /* background: linear-gradient(5deg, #FEE700, hsla(1,10%,85%,1)); */
}

 
#btnCrearCuenta{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,      #D27680,#FF2A47,#D27680,#FF2A47);
}
   
 #btnContinuar{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,      #D27680,#FF2A47,#D27680,#FF2A47);
}
 #btnValidar{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,      #D27680,#FF2A47,#D27680,#FF2A47);
}

 #btnClasscard{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,      #D27680,#FF2A47,#D27680,#FF2A47);
}