.etiqueta{
    width: 100%x;
    font-style: italic;
    height: 100%;
}

.formulario{
    border-style: ridge;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #0B2435;
    box-sizing:border-box;
  
    margin-left:auto;
    margin-right:auto;
    background:linear-gradient(10deg,#FED327,#FFD44C,#F7B001,#D5F6EA);
    width:100%;
}


.img{
    width: 100px;
    height: 60px;
}

table {
    width: 60%;
    border: 1px solid #000;
 }
 td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    background-color: ghostwhite;
 }
 body{
    width:50%;
    text-align:left;
    margin-block-start: 5%;
    margin-left: 25%;
    background: linear-gradient(5deg, #FEE700, hsla(1,10%,85%,1));
}
 
#btnCrearCuenta{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,   #EE931A, #DB0D09);
}
   
 #btnContinuar{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,   #EE931A, #DB0D09);
}
 #btnValidar{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,   #EE931A, #DB0D09);
}

 #btnClasscard{
    margin-right: 0px;
    font-size:20px;
    color: rgb(240, 240, 240);
    background: linear-gradient(50deg,   #EE931A, #DB0D09);
}